.prodcut_input input{
    display: flex;
    width: 12rem;
    }
    #view_btn{
    width: 7rem !important;
    text-wrap: nowrap !important;
    }
    
    @media screen and (min-width:769px) {
        .custom-table{
            margin:0 auto !important ;
            width: 40rem !important;
        }
    }
    @media screen and (min-width:481px) and (max-width:768px) {
        .custom-table{
            margin:0 auto !important ;
            width: 30rem !important;
        }
       
    }
    @media screen and (min-width:320) and (max-width:480) {
        .custom-table{
            margin:0 auto !important ;
            width: 5rem !important;
        }
    }
    #div_2{
        position: relative;
    }
    #div_2 .icon{
    
    position: absolute;
    cursor: pointer;
    left:20px;
    top: 40px;
    }
    @media screen and (max-width:770px) {
    #div_2 .icon{
        position: absolute;
        cursor: pointer;
        left:20px;
        top: 40px;
            }
    }
    
    